build/
bin/
publish/

# CMake
CMakeUserPresets.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
